*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 2s linear;
}
html{
    font-size: 62-5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #554c4c;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem black;
}
header .logo{
    font-size: 3rem;
    color: #070101;
    font-weight: bolder;
}
header .logo span{
    color:var(--pink);
}
header .nav a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #f988ff;
}
header .nav a:hover{
    color:var(--pink);
}

header .icons a{
    font-size: 2.5rem;
    color: black;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--pink);
}

header #toggler{
    display: none;
}
header .fa-bars{
    font-size: 3rem;
    color: #e446e4;
    border-radius: 5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgb(221, 218, 228) ;
}


































@media (max-widt:991px){

    html{
        font-size: 55%;
    }

    header{
        padding:2rem ;
    }
}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .nav{
        position: absolute;
        top:100%; left:0; right:0;
        background: #eee;
        border-top: .1rem solid rgb(0, 0, 0);
        
    
    }

    
}